{% extends "auth/log_layout.html" %}

{% block title %}Login | Sistema Streaming{% endblock %}

{% block links %}
<li class="nav-item">
    <a class="nav-link" href="/auth/login" class="active">Iniciar sesi&oacute;n</a>       
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Registrarse 
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="dropdown-item" href="/auth/signup/seller/{{parent_id}}">Como vendedor</a></li>
      <li><a class="dropdown-item" href="/auth/signup/client/{{parent_id}}">Como cliente</a></li>
    </ul>
</li>
{% endblock %}

{% block body %}
<div class="login">
    <h1>Iniciar sesi&oacute;n</h1>
    <form action="/auth/login" method="POST">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" id="email" required>
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Contrase&ntilde;a" id="password" required>
        </div>

        <a class="btn btn-link" href="/auth/change_password">Restaurar contrase&ntilde;a</a>

        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Iniciar sesi&oacute;n">
    </form>
</div>

{% endblock %}