* {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: hwb(0 100% 0%);
    background: -webkit-linear-gradient(to right, hwb(0 100% 0%), hwb(0 100% 0%));
    background: linear-gradient(to right, hwb(0 100% 0%), hwb(0 100% 0%));
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.container{
    margin: 0 auto;
}
  
.selectBox {
    position: relative;
}
  
.selectBox select {
    width: 100%;
}
  
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
#checkboxes {
    display: none;
    border: 1px #dadada solid;
}
  
#checkboxes label {
    display: block;
    margin-bottom: .0rem;
}