{% if user_type == 'admin' %}
{% extends "ad_layout.html" %}
{% elif user_type == 'seller' %}
{% extends "sl_layout.html" %}
{% elif user_type == 'client' %}
{% extends "cl_layout.html" %}
{% endif %}

{% block title %}Profile | Sistema Streaming{% endblock %}

{% block body %}
<h2>Profile</h2>
<div>
    <table>
        <tr>
            <td><b>Nombre de usuario: </b></td>
            <td>{{ account.0 }}</td>
        </tr>
        <tr>
            <td><b>T&eacute;lefono: </b></td>
            <td>{{ account.1 }}</td>
        </tr>
        <tr>
            <td><b>Email: </b></td>
            <td>{{ account.2 }}</td>
        </tr>
        <tr>
            <td><b>Contrase&ntilde;a: </b></td>
            <td>{{ account.3 }}</td>
        </tr>
        <tr>
            <td><b>Link de referencia: </b></td>
            <td><a href="{{link}}/{{id}}">{{ link }}/{{ id }}</a></td>
        </tr>
    </table>
</div>
{% endblock %}