{% if user_type == 'admin' %}
{% extends "ad_layout.html" %}
{% elif user_type == 'seller' %}
{% extends "sl_layout.html" %}
{% elif user_type == 'client' %}
{% extends "cl_layout.html" %}
{% endif %}

{% block title %}Profile | Sistema Streaming{% endblock %}

{% block body %}
<script>
// Copy text
    function copyToClipboard(text) {
        var sampleTextarea = document.createElement("textarea");
        document.body.appendChild(sampleTextarea);
        sampleTextarea.value = text; //save main text in it
        sampleTextarea.select(); //select textarea contenrs
        document.execCommand("copy");
        document.body.removeChild(sampleTextarea);
    }

    function copyText(id){
        var copyText = document.getElementById(id);
        copyToClipboard(copyText.value);
    }
</script>

<h2>Profile</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <p>
                <b>Nombre: </b> {{ account.0 }} <br>
                <b>T&eacute;lefono: </b> {{ account.1 }} <br>
                <b>Email: </b> {{ account.2 }} <br>
            </p>
        </div>
        <div class="col-sm-5">
            <input type="hidden" value="{{link}}/{{id}}" id="referenceLink">
            <button type="button" class="btn btn-primary" onclick="copyText('referenceLink')">Copiar Link de Referencia</button>
            <a class="btn btn-success" href="/auth/change_password">Restaurar contrase&ntilde;a</a>
        </div>
    </div>
</div>
{% endblock %}