{% extends "sl_layout.html" %}

{% block title %}Inicio | Sistema Streaming{% endblock %}

{% block body %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="row">
        <!--REQUEST TABLE-->
        <div class="col-sm-8">
            <h2>Pantallas activas</h2>
            {% for sc in scData %}
            <button class="accordion">
                <img src="/forms/static/img/{{sc.0}}" width="30" height="30">
                {{sc.1}} {{sc.2}} | Vence el {{sc.3}} | Faltan {{sc.4}}
            </button>
            <div class="panel">
                <p>{{sc.1}}: {{sc.5}}, {{sc.6}}</p>
                <a class="btn btn-success" href="http://web.whatsapp.com/send?phone={{sc.6}}&text={{sc.8}}">Enviar cobro por WhatsApp</a>
                <input type="hidden" value="{{sc.8}}" id="{{sc.9}}">
                <button type="button" class="btn btn-primary" onclick="copyText('{{sc.9}}')">Copiar</button>
            </div>
            {% endfor %}
        </div>

        <!--NEWS OR NOTIFICATIONS-->
        <div class="col-sm-4">
            <h2>Notificaciones</h2>
        </div>
    </div>

    <div class="row">
        <!--ACTIVATED SCREENS-->
        <div class="col-sm-8">
            <h2>Cat&aacute;logo</h2>
        </div>

        <!--VIDEOS-->
        <div class="col-sm-4">
            <h2>Videos</h2>
        </div>
    </div>
</div>

<script>
    // Accordion function
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++){
        acc[i].addEventListener("click", function(){
            this.classList.toggle("actived");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else{
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    // Copy text
    function copyToClipboard(text) {
        var sampleTextarea = document.createElement("textarea");
        document.body.appendChild(sampleTextarea);
        sampleTextarea.value = text; //save main text in it
        sampleTextarea.select(); //select textarea contenrs
        document.execCommand("copy");
        document.body.removeChild(sampleTextarea);
    }

    function copyText(id){
        var copyText = document.getElementById(id);
        copyToClipboard(copyText.value);
    }
</script>

{% endblock %}
