{% if user_type == 'admin' %}
{% extends "ad_layout.html" %}
{% elif user_type == 'seller' %}
{% extends "sl_layout.html" %}
{% endif %}

{% block title %}Equipo de ventas | Sistema Streaming{% endblock %}

{% block body %}
<h2>Equipo de ventas</h2>

<div class="conteiner">       
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm bg-white">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">T&eacute;lefono</th>
                </tr> 
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <td>{{ d.3 }}</td>
                    <td>{{ d.4 }}</td>
                    <td>{{ d.6 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
