{% extends "us_layout.html" %}

{% block title %}Inicio | Sistema Streaming{% endblock %}

{% block head %}
    <div class="card">
        <div class="card-body" id="notifications">
            {% if notifications %}
                {% for n in notifications %}
                    <div class="row">
                        <div class="col-md-11">
                            {{n.3}}
                            <p class="card-text"><small class="text-muted">{{n.2}}</small></p>
                        </div>
                        <div class="col-md-1">
                            <button id="myId" type="submit" name="deleteNotification" class="btn btn-outline-danger btn-circle" value="{{n.0}}" onclick="newNotifications(this)" style="border-radius: 15px; padding:0; font-size: 0rem;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                No tienes notificaciones por el momento
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body %}
<script>
    // Copy text
    function copyToClipboard(text) {
        var sampleTextarea = document.createElement("textarea");
        document.body.appendChild(sampleTextarea);
        sampleTextarea.value = text; //save main text in it
        sampleTextarea.select(); //select textarea contenrs
        document.execCommand("copy");
        document.body.removeChild(sampleTextarea);
    }

    function copyText(id){
        var copyText = document.getElementById(id);
        copyToClipboard(copyText.value);
    }

    // Notifications
    async function newNotifications(sel) {
        var id = sel.value;
        const response = await fetch(`/delete_notification/${id}`);
        const newNotifications = await response.json();
        let output = ``
        if (newNotifications['newNotifications'][0] != null){
            for (n in newNotifications['newNotifications']){
                output = output + 
                `
                <div class="row">
                    <div class="col-md-11">
                        ${newNotifications['newNotifications'][n][3]}
                        <p class="card-text"><small class="text-muted"> ${newNotifications['newNotifications'][n][2]} </small></p>
                    </div>
                    <div class="col-md-1">
                        <button id="myId" type="submit" name="deleteNotification" class="btn btn-outline-danger btn-circle" value="${newNotifications['newNotifications'][n][0]}" onclick="fetchInfo(this)" style="border-radius: 15px; padding:0; font-size: 0rem;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                `
            } 
        }else{
            output = 'No tienes notificaciones por el momento'
        }
        document.getElementById('notifications').innerHTML = output
    };

    // Modal 
    function modal(id, title, body, footer, element) {
        let output = `
        <div class="modal fade" id="${element}${id}" tabindex="-1" role="dialog" aria-labelledby="${element}${id}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="${element}${id}">${title}</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        ${body}
                    </div>
                    <div class="modal-footer">
                        ${footer}
                    </div>
                </div>
            </div>
        </div> 
        <button data-toggle="modal" data-target="#${element}${id}" id="${element}Toggler${id}" style="display:none;"></button>`
        document.getElementById(`${element}`).innerHTML = output
        const modalToggler = document.getElementById(`${element}Toggler${id}`);
        modalToggler.click();
    };

    // Are You Sure
    function areYouSure(id, price) {
        title = '¿Est&aacute; seguro?'
        body = `El precio es Bs. ${price}.`
        footer = ``
        element = 'areYouSure' 
        modal(id, title, body, footer, element)
    };

    // Buy Account
    async function buyAccount(id) {
        const response = await fetch(`/buy_account/${id}`);
        const feedback = await response.json();
        if(feedback['accepted'] === true){
            title = 'Compra exitosa!'
            body = feedback['screenData']
            footer = `
            <input type="hidden" value="${feedback['screenData']}" id="copy${id}">
            <button type="button" class="btn btn-primary" onclick="copyText('copy${id}')">Copiar</button>`
            element = 'buy'

        }else if (feedback['accepted'] === false){
            title = 'No puede comprar por saldo insuficiente'
            body = 'Intente nuevamente luego de recargar su saldo'
            footer = `<a class="btn btn-success" href="/forms/dynamic_form/st-recharge_request">Recargar saldo</a>`
            element = 'notBuy'
        }
        modal(id, title, body, footer, element)
    };
</script>

<div class="container">
    <div id="areYouSure"></div>
    <div id="notBuy"></div>
    <div id="buy"></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!--CATALOGO-->
    <div class="row">
        <div class="col-md-12">
            <h3>Pantallas disponibles</h3>
            <div id="catalogue" class="carousel slide carousel-multi-item" data-ride="carousel">
                <dynamic-control href="#catalogue"></dynamic-control>
                
                <div class="carousel-inner" role="listbox">
                    {% for sc in scData %}
                        {% if loop.first %}
                            <div class="carousel-item active"> 
                                <div class="row">       
                        {% elif (loop.index - 1) % 4 == 0 %}
                                </div>    
                            </div>        
                            <div class="carousel-item">
                                <div class="row">
                        {% endif %}              
                        <div class="col-md-3">
                            <div class="card">     
                                {% if environment == 'development' %}
                                    <img class="card-img-top" src="/forms/static/img/{{sc.4}}" alt="Card image cap" width="500" height="200">
                                {% else %}
                                    <img class="card-img-top" src="https://www.pythonanywhere.com/user/vicoweb/files/home/vicoweb/deploy/forms/static%5Cimg%5C{{sc.4}}" alt="Card image cap" width="500" height="200">
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text">
                                        <a class="btn" data-toggle="collapse" href="#ct{{sc.5}}" role="button" aria-expanded="false" aria-controls="ct{{sc.5}}" style="display: block; margin: 0 auto;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </a> 
                                    </p>
                                    <div class="collapse" id="ct{{sc.5}}">
                                        <h4 class="card-title">{{sc.0}}</h4>
                                        <p class="card-text">
                                            <b>Fecha de inicio: </b>{{sc.1}} <br>
                                            <b>Fecha de fin: </b>{{sc.2}} <br>
                                            <b>Duraci&oacute;n: </b>{{sc.3}} <br>
                                            <b>Precio: </b>Bs. {{sc.6}}
                                        </p>
                                        <a type="button" class="btn btn-success" style="display: block; margin: 0 auto;" onclick="areYouSure('{{sc.5}}', '{{sc.6}}')">Comprar</a>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        {% if loop.last %}            
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--PANTALLAS ACTIVAS-->
    <hr class="mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Tus pantallas</h2>
                <div id="activedScreens" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <dynamic-control href="#activedScreens"></dynamic-control>
                    
                    <div class="carousel-inner" role="listbox">
                        {% for sc in scData %}
                            {% if loop.first %}
                                <div class="carousel-item active"> 
                                    <div class="row">       
                            {% elif (loop.index - 1) % 4 == 0 %}
                                    </div>    
                                </div>        
                                <div class="carousel-item">
                                    <div class="row">
                            {% endif %}              
                            <div class="col-md-3">
                                <div class="card">     
                                    {% if environment == 'development' %}
                                        <img class="card-img-top" src="/forms/static/img/{{sc.4}}" alt="Card image cap" width="500" height="200">
                                    {% else %}
                                        <img class="card-img-top" src="https://www.pythonanywhere.com/user/vicoweb/files/home/vicoweb/deploy/forms/static%5Cimg%5C{{sc.4}}" alt="Card image cap" width="500" height="200">
                                    {% endif %}
                                    <div class="card-body">
                                        <p class="card-text">
                                            <a class="btn" data-toggle="collapse" href="#as{{sc.5}}" role="button" aria-expanded="false" aria-controls="as{{sc.5}}" style="display: block; margin: 0 auto;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                </svg>
                                            </a> 
                                        </p>
                                        <div class="collapse" id="as{{sc.5}}">
                                            <h4 class="card-title">{{sc.0}}</h4>
                                            <p class="card-text">
                                                <b>Fecha de inicio: </b>{{sc.1}} <br>
                                                <b>Fecha de fin: </b>{{sc.2}} <br>
                                                <b>Duraci&oacute;n: </b>{{sc.3}} <br>
                                                <b>Precio: </b> 
                                            </p>
                                            <a class="btn btn-success" style="display: block; margin: 0 auto;">Comprar</a>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            {% if loop.last %}            
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </hr>
</div>
{% endblock %}
