{% if user_type == 'admin' %}
{% extends "ad_layout.html" %}
{% elif user_type == 'seller' %}
{% extends "sl_layout.html" %}
{% elif user_type == 'client' %}
{% extends "cl_layout.html" %}
{% endif %}

{% block title %}Crear {{label}} | Sistema Streaming{% endblock %}

{% block body %}

<!--SCRIPTS-->
<script>
    // CHECKBOXES
    var expanded = false;
    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }

    // SHOW PAYMENT DATA
    function myFunction() {
        var sel = document.getElementById('mySelect');
        var attrPaymentData = sel.getAttribute('paymentData');
        var paymentData = JSON.parse(attrPaymentData.replaceAll("'",'"'));
        var selected = sel.options[sel.selectedIndex];
        var extra = selected.getAttribute('attrb');
        var x = document.getElementById("mySelect").value;
        var environment = document.getElementById('environment').getAttribute('value');

        // PINTAR
        let output = '<p>';
        for (let j in paymentData[extra][0]){
            if (j != 'id' && j != 'seller_id'){
                if (paymentData[extra][0][j][0] == 'file'){
                    if (environment == 'development'){
                        paymentData[extra][0][j] = "<img src=\'/forms/static/img/" + paymentData[extra][0][j][1] + "\' width = \'70\' height = \'70\'>"
                    }else{
                        paymentData[extra][0][j] = "<img src=\'https://www.pythonanywhere.com/user/vicoweb/files/home/vicoweb/deploy/forms/static%5Cimg%5C" + paymentData[extra][0][j][1] + "\' width = \'70\' height = \'70\'>"
                    }
                }
                output += j + ': ' + paymentData[extra][0][j] + '<br/>';
            }
        }
        output += '<p>';
        document.getElementById("paymentData").innerHTML = output;
    }
</script>

<div id="environment" value="{{environment}}" style="display: none;"> </div>

<h2>Crear {{label}} </h2>

<div class="card card-body">
    <form action ="/forms/add/{{form}}-{{formreq}}" method="POST" enctype="multipart/form-data" >
        {% for i in attrb %}
            {% if i.type != 'hidden' %}
                <div class="form-group">
                    <!--NORMAL-->
                    {% if i.normal == 'yes' %}
                        <label for="{{i.name}}" class="form-label">{{i.label}}</label>
                        {% if i.placeholder != None %}
                            <input type="{{i.type}}" name="{{i.name}}" placeholder="{{i.placeholder}}" class="form-control" required>
                        {% else %}
                            <input type="{{i.type}}" name="{{i.name}}" class="form-control" required>
                        {% endif %}

                    <!--SELECT-->
                    {% elif i.type == 'select' %}
                        {% if formreq == 'request' and i.name == 'client_id' and user_type != 'client' %}
                            <label for="{{i.name}}" class="form-label">{{i.label}}</label>
                            <select name="{{i.name}}" class="form-control">
                                <option value="{{id}}">Mi persona</option>
                                {% for o in i.options %}
                                    <option value="{{o.0}}">{{o.2}}</option>
                                {% endfor %}        
                            </select> 

                        {% elif formreq == 'request' and i.name == 'platform' %}
                            <label for="{{i.name}}" class="form-label">{{i.label}}</label>
                            <div class="multiselect">
                                <div class="selectBox" onclick="showCheckboxes()">
                                    <select class="form-control">
                                        <option>Selecciona las plataformas que desees</option>
                                    </select>
                                    <div class="overSelect"></div>
                                </div>
                                <div id="checkboxes" class="form-check">
                                    {% for o in i.options %}
                                        <label for="{{o.3}}"><input type="checkbox" value="{{o.3}}" class="form-check-input" name="{{i.name}}" required>
                                            {{o.1}} | {{o.2}}
                                        </label>
                                    {% endfor %}      
                                </div>
                            </div>

                        {% elif formreq == 'request' and i.name == 'payment_method' %}
                            <label for="{{i.name}}" class="form-label">{{i.label}}</label>
                            <select name="{{i.name}}" class="form-control" id="mySelect" paymentData ="{{payDict}}" onchange="myFunction()">
                                <option value="none" selected disabled hidden>Selecciona el metodo de pago que desees</option>
                                {% for o in i.options %}
                                    <option value="{{o.0}}" attrb="{{o.2}}">{{o.2}}</option>
                                {% endfor %}        
                            </select> 
                            <div id="paymentData"></div>

                        {% elif i.name != 'client_id' and user_type != 'client' %}
                            <label for="{{i.name}}" class="form-label">{{i.label}}</label>
                            <select name="{{i.name}}" class="form-control">
                                {% for o in i.options %}
                                    <option value="{{o.0}}">{{o.2}}</option>
                                {% endfor %}        
                            </select> 
                        {% endif %}

                    <!--DATE-->
                    {% elif i.type == 'date' %}
                        <label for="{{i.name}}" class="form-label">{{i.label}}</label> <br>
                        <input type="{{i.type}}" name="{{i.name}}" data-date="" data-date-format="DD/MM/YYYY" value="{{i.value}}" required>

                    <!--CHECKBOX-->
                    {% elif i.type == 'checkbox' %}
                        {% if i.label != None %}
                            <label id="{{i.label}}" for="{{i.name}}" class="form-label">{{i.label}}</label>
                        {% endif %}
                            <div class="form-check">
                                <input type="{{i.type}}" name="{{i.name}}" value="{{i.value}}" class="form-check-input" required>
                                <label for="{{i.value}}">{{i.value}}</label> 
                            </div>

                    <!--FILE-->
                    {% elif i.type == 'file' %}
                        <label for="{{i.name}}" class="form-label">{{i.label}}</label>
                        <input type="{{i.type}}" class="form-control" name="{{i.name}}" accept="image/*" required>    

                    <!--RADIO-->
                    {% elif i.type == 'radio' %}
                        {% if i.label != None %}
                            <label for="gender" class="container">G&eacute;nero</label>
                            <fieldset class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="gender" id="gender" value="Hombre" checked="">
                                        Hombre
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="gender" id="gender" value="Mujer">
                                        Mujer
                                    </label>
                                </div>
                            </fieldset>
                        {% endif %}
                    {% endif %}      
                </div>
            {% endif %}
        {% endfor %}
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
                Guardar
            </button>
        </div>
    </form>
</div>

{% endblock %}